<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <head>
    <title>Chinese Game Job Search Engine</title>
  </head>
  <body>
  <div class="jumbotron">
    <br><br><br><br><br><br><br><br><br><br>
    <h1 class="text-center">Chinese Game Job Search Engine</h1>
    <form action="/search" method="get" class="text-center">
       <select type="text" id="algorithm" name="algorithm">
        <option>BM25</option>
        <option>IB</option>
        <option>DFR</option>
      </select>
      <input type="text" id="keywords" name="keywords">
      <input type="submit" value="Search">
    </form>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
  </body>
</html>
